body {
    font-family: 'Baloo Chettan 2', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Bungee Shade',serif;
    font-weight: 500;
    line-height: 1.1;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}
.navbar-inverse .navbar-brand {
    color: azure;
}
.jumbotron {
    margin-bottom: 30px;
    color: white;
    background-color: dimgray;
}
.btn-primary {
    color: #fff;
    background-color: mediumvioletred;
    border-color: transparent;
}
.navbar-inverse {
    background-color: mediumvioletred;
    border-color: azure;
}
.table-hover > tbody > tr:hover {
    background-color:darksalmon ;

} 
