@model IEnumerable<NET.Models.UR>
@{
    ViewBag.Title = "Usuario-Rol";
}

<h2>Usuario-Rol</h2>


<table class="table table-hover ">
    <thead>
        <tr>
            <th>ID Usuario</th>

            <th>Descripcion</th>

        </tr>
    </thead>
   
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@Html.DisplayFor(modelItem => item.idUsuario)</td>
                <td>@Html.DisplayFor(modelItem => item.idRol)</td>
            </tr>
        </tbody>
        
    }
</table> 